/* sherd style*/
.extra-color{
  color: #252432;
  font-weight: 800;
}
.nav-color{
  color:#8987A1;
}
.normal-color{
  color: rgba(0, 0, 0, 0.5);
}
.solid-color-black{
  color:#000000;
}
.extra-solid-color-black{
  color:#111111;
}
.solid-color-orange{
  color:#E95A08;
}
.solid-color-white{
  color:#FFFFFF;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*body style*/

body{
  max-width: 1140px;
  margin: 0 auto;
  background-color: #f5f7fc;
  overflow-x: hidden;
}
/*header style*/
.header-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.logo-image{
  width:135px;
  height: 82px;
}
.navigation-list{
  display: flex;
}
.navigation-list li{
  list-style: none;
}
.navigation-list li a{
  text-decoration: none;
}
.list{
  margin-right: 48px;
}
.cart-icon{
  width: 24px;
  height:24px;
  margin-right: 10px;
}
/*hero section style */
.hero{
  height: 461px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-title{
  font-size: 4rem;
  margin-bottom: 0;
}
.hero-text{
  font-size: 1.37rem;
}

/*style plant section*/
.plant-title{
  font-size: 3.12rem;
  text-align: center;
  margin-bottom: 0;
}
.plant-subtitle{
  font-size: 1.37rem;
  text-align: center;
}
.card-section{
  margin-top: 49px;
  display: grid;
  gap: 60px 20px;
  grid-template-columns: repeat(4,1fr);

}
.card{
  width:270px;
  height:480px;
}
.card-name{
  font-size: 1.38rem;
  font-weight: 500;
  text-align: center;
}
.card-price{
  font-size: 1.38rem;
  font-weight: 800;
  text-align: center;
}
.card-button{
  width: 100%;
  padding: 26px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #E95A08;
  border:none;
}
.trusted-budge{
  height: 286px;
  width:286px;
  position: relative;
  top: 190px;
  left:342px;
  filter:drop-shadow(-4px 10px 4px rgba(0, 0, 0, 0.25));
}
/*style plant lover section*/
.plant-lover{
  margin-top: 49px;
  display: flex;
  justify-content: space-between;
  gap: 35px;

}
.plant-lover-title{
  font-size: 3.13rem;

}
.plant-love-list{
  font-size: 1.38rem;
  
}
.plant-love-list li{
  margin-top: 20px;
}

/*style join section*/
.join-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 533px;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-image: url(assets/news-letter-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 40px 20px;
}

.join-title{
  font-size: 3rem;
}
.join-section input{
  width:644px;
  height: 50px;
  font-size: 1rem;
  padding-left: 10px;
}
.join-section-button{
  background-color: #E95A08;
  font-size: 1rem;
  font-weight: 600;
  height: 54px;
  width: 186px;
  border: none;
}
.input-section{
  gap:0;
}
.footer-section{
  height: 248px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.footer-text{
  font-size: 1.5rem;
}
.footer-item li{
  list-style: none;
  margin-bottom: 25px;
}
.footer-item li a{
  text-decoration: none;
  color:#8F95A0;

}
.social-link{
  margin-right: 20px;
}
@media screen and (max-width:576px) {

  body{
    width: 100%;
  }

  .header-section,
  .hero-text,
  .hero-title,
  .card-section
  .plant-lover
  .footer-section
  {
    margin:13px 16px;
  }

  .list{
    display: none;
  }

  .logo-image{
    width: 63px;
    height: 38px;
  }

  .hero{
    margin-top: 28px;
    flex-direction: column-reverse;
  }
  .hero-image{
    width: 100%;
  }
  .hero-title{
    font-size:2rem;
  }
  .hero-text{
    font-size: 1rem;
  }
  .plant-title{
  font-size: 1.5rem;
  }
  .plant-subtitle{
  font-size: 0.87rem;
  text-align: center;
  }
  .card-section{
    grid-template-columns: repeat(2,1fr);
    gap:20px 20px;
  }
  .card{
    width: 171px;
    height: 340px;
  }
  .card-image{
    width: 100%;
  }
  .card-name{
    font-size: 1rem;
  }
  .card-price{
    font-size: 1rem;
  }
  .card-button{
    padding: 10px;
  }

  .trusted-budge{
    display: none;
  }
  .plant-lover{
    flex-direction: column;
  }
  .plant-lover img{
    width: 100%;
  }
  .join-section{
    height:276px;
  }
  .join-title{
    font-size: 1.3rem;
  }
  .join-section input{
    width:218px;
  }
  .join-section-button{
    width:109px;
  }
  .footer-section{
    flex-direction: column;
  }

}
